<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		        <listener class-name="com.qa.common.TestNGListeners"/>
	</listeners>
		  <test name="Smoke">
		    <classes>
		      <class name="com.qa.test.TC01_loginApp"/>
		    </classes>
		  </test> <!-- Test -->
	</suite> <!-- Suite -->
